@font-face {
    font-family: 'plain';
    src: url('plain-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkserif';
    src: url('silkserif-lightitalic-webfont.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: plain;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#cursor{
    height:5vh;
    width:5vh;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    border:2px solid #fff;
    border-radius:100%;
    transform: translate(-50%,-50%);/* this will make the cursor to cemter of the mouse point*/
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #020202;
    padding: 25vh 0vw 25vh 8vw;
}

.line {
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;

}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 4rem;
    font-family: silkserif;
    font-weight: 400;

}

#line1-part1 h5 {
    width: 7vw;
    text-align: end;
}

.line h1 {
    font-size: 6.6rem;
    font-weight: 900;
    text-transform: uppercase;
}

.line h2 {
    font-size: 5.1rem;
    font-weight: 900;
    width: 18vw;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animeForNow {
    0% {
        font-family: plain;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }

    48% {
        font-family: plain;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }

    50% {
        font-family: silkserif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: silkserif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;

    }

}

#main {
    position: relative;
    background-color: #151515;


}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.4vw 8.7vw;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;
}

#nav-part2 h3 {
    font-size: 1rem;
    font-weight: 500;

}
.hero{
    width:79%;
    margin-left:20%;
    height: fit-content;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero h1 {
    font-size: 6.4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 8vw;
    line-height: 13.4vh;
}
.hero:nth-child(2){
    margin-top: 8%;
}
#hero3{
    display: flex;
    align-self: center;
    padding-left: 8vw;
}

.hero h2 {
    font-size: 6.4rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 13.4vh;
    border-bottom: 1vh solid #fff;
    padding-bottom: 1vh;
    /* transition: all ease 0.3s; */

}

.hero h2:hover{
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
        border-bottom: .5 vw solid black;

}

#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top:5%;
}
#video-container{
    height: 65vh;
    width: 71.7%;
    position: relative;
    left:28.3%;

}
#video-cursor{
    height: 15vh;
    width: 15vh;
    background-color: #FEA63C;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 9999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 999;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: gray;
}
#page4{
    min-height:100vh;
    width: 100vw;
    position: relative;
    background-color: #151515;
    padding: 10vh 0;

}
#page4-content{
    width: 72vw;
    margin-left: 28%;
    position: relative;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}
#page4-content .underLine{
    height: .3vh;
    background-color: rgb(255, 255, 255) ;
    width: 100%;
    margin: 3.5vw 0;
}

#page4-content>p{
    width: 57%;
    line-height: 5vh;
    font-size: 4.2vh;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 45.5%;
}
#page4-flex p{
    font-size: .9rem;
    line-height: 2.5vh;
    margin-left: 1.4vw;
    width: 20vw;
}

#page4-flex2{
    background-color: #3F7DF4;
    width: 45.5%;
    padding:4.4vw;
    position: relative;
    top: -27vh;
    left: 41vh;

}
.page4-flex2-ele{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:2vw 0;
    border-bottom: 2px solid white;

}
.page4-flex2-ele h4{
    font-size: 1.3rem;
    font-weight: 300;
}
.page4-flex2-ele p{
    width: 40%;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.elem{
    white-space:nowrap;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 1vw;
}
.elem-inner{
    animation-name:animeForScroller;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}
.elem-inner h1{
    font-size: 7rem;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color:transparent;
    display: inline-block;
    margin-right: -5px;
}

.elem-inner2{
    animation-name:animeForScroller;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction: reverse;
}
.elem-inner2 h1{
    font-size: 7rem;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color:transparent;
    display: inline-block;
    margin-right: 16px;
}
@keyframes animeForScroller {
    from{
        transform: translateX(0);
    }    
    to{
        transform: translateX(-50%);

    }
}
.elem-inner span{
    font-style: italic;
    font-family: silkserif;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
}
.elem-inner2 span{
    font-style: italic;
    font-family: silkserif;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
}
